@page
@model IndexModel

@{
    ViewData["Title"] = "Forside";
}

<div class="container mx-auto mt-10 h-full">
  <h1 class="mb-10 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
    Find danmarks bedste <span style="background-image: linear-gradient(45deg,#CA4246 16.666%,#E16541 16.666%,#E16541 33.333%,#F18F43 33.333%,#F18F43 50%,#8B9862 50%,#8B9862 66.666%,#476098 66.666%,#476098 83.333%,#A7489B 83.333%);-webkit-background-clip: text;-webkit-text-fill-color: transparent; ">legepladser</span>
  </h1>
  
  <ul>
    @foreach(var playground in Model.Playgrounds) {
      <li>Lon: @playground.Longitude, Lat: @playground.Latitude, Adresse: @playground.Address</li>
    }
  </ul>

  <div id='map' class="w-full h-full"></div>
  
  <code>
    @Model.VectorTileData
  </code>
  <script>
      var map = new maplibregl.Map({
          container: 'map',
          style: 'https://api.maptiler.com/maps/bright-v2/style.json?key=r2DQJMsldg23Fy8CtsvA',
          center: [12.570092893884635, 55.686727258878015],
          zoom: 11
      });
      
      map.on('load', () => {
        map.addSource('playgrounds', {
          type: 'vector',
          url: '/api/playgrounds'
        }); 
      });
  </script>
  
  @section Header
  {
    <script src="/lib/maplibre-gl/maplibre-gl.js" asp-append-version="true"></script>
    <link href="/lib/maplibre-gl/maplibre-gl.css" asp-append-version="true" rel="stylesheet" />
  }
</div> 