<!DOCTYPE html>
<html lang="da" class="h-full">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Legesteder.dk</title>
    <link rel="stylesheet" asp-append-version="true" href="~/css/output.css" />
    @await RenderSectionAsync("Header", required: false)
</head>
<body class="bg-slate-100 dark:bg-slate-800 text-slate-500 dark:text-slate-400 font-sans h-full">

@RenderBody()

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>